<div>
  <h1>ACME Portal Dashboard</h1>

  <div style="margin: 5em 5em;">
   <div>
    <button (click)="codeDetail()">CODE</button>
   </div>
   <br/>
   <div>
    <button (click)="accessToken()">access token</button>
   </div>   
   <br/>
   <div>
    <button (click)="idToken()">id token</button>
   </div>   
   <br/>
   <div>
    <button (click)="detail()">User Detail</button>
   </div>
   <br/>   
   <div>
   <button (click)="aws()">Get Identity</button>
   </div>   
   <br/>   
   <div>
   <button (click)="aws()">Get Credentials</button>
   </div>   
   <br/>   
   <div>
   <button (click)="aws()">S3 List Objects</button>
   </div>   
   <br/>   
   <div>
   <button (click)="aws()">S3 Get Object</button>
   </div>   
   <br/>   
   <div>
    <button (click)="logout()">Logout</button>
   </div> 
  </div>
</div>
